@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* img {
    width: 200px;
    height: 200px;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
} */

.form-control {
    width: 40%;
}
